@page "/resetpassword"
<PageTitle>Reset Password</PageTitle>

<div class="card">
    <div class="card-header">Reset Password</div>
    <div class="card-body">
        <EditForm Model="_reset" OnValidSubmit = "reset">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class = "form-group row">
                <label for="Password" class="col-md-2 col-form-label">New Password :</label>
                <InputText type="password" id="Password" class="form-control" @bind-Value="_reset.Password" />
            </div>
            <ValidationMessage For="@(()=> _reset.Password)" />
                <div class = "form-group row">
                <label for="Confirm" class="col-md-2 col-form-label">Confirm Password :</label>
                <InputText type="password" id="Confirm" class="form-control" @bind-Value="_reset.ConfimPassword" />
            </div>
            <ValidationMessage For="@(()=> _reset.ConfimPassword)" />
                <button type="submit" class="btn btn-primary mt-2 float-end">send</button>
        </EditForm>
    </div>
</div>